body {
    background-color: rgb(210, 140, 190);
  }
  
  * {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

  h1 {
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: aquamarine;
    font-size: 75px;
  }

  header {
    height: 100px;
    width: 100%;
    border-bottom: 10px solid darkblue;
    background-color: #990059;
    padding-top: 25px;
  }

 .topnav a {
    background-color: aqua;
    overflow: hidden;
    float: left;
    color: blueviolet;
    text-align: center;
    padding: 14px 16px;
    padding-top: 10px;
    font-size: 17px;
  }
  
  .topnav a :hover {
    background-color: #ddd;
    color: blue;
  }

  .image {
    position: absolute;
    left: 500px;
  }

  .image-padding {
    padding: 20px;
    background-color: #990075;
  }
  .image-border {
    border: 10px solid rgb(0, 139, 132);
  }
  
  .image-margin {
    margin: 20px;
    margin-left: 350px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 20px;
  }
