main {
  display: flex;
}

body {
  background-color: rgb(210, 140, 190);
}

:root {
  --vertical-padding: 5px;
  --horizontal-padding: 10px;
}

* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  text-align: center;
  height: 100px;
  line-height: 100px;
  color: aquamarine;
  font-size: 75px;
  text-shadow: 2px 2px gray;
}

header {
  height: 100px;
  width: 100%;
  border-bottom: 10px solid darkblue;
  background-color: #990059;
  padding-top: 25px;
}

button {
  width: 250px;
  margin: 0 .5%;
  font-size: 150%;
  color: #13293d;
  background-color: #fff;
  border: 3px solid #13293d;
  padding: var(--vertical-padding) var(--horizontal-padding);
  position: relative;
  transition: all .05 ease;
  scale: (1); 
}

button:hover {
  background-color: #772014;
  color: #fff;
  transform: 
  scale(1.25);
  filter: brightness(110%);
}

button:active {
  font-size: 180%;
  box-shadow: 0 0 10px #000 inset;
}

button:focus {
  outline: none;
  border-color: #8ac4ff;
}

button::before {
  content: attr(data-label);
  visibility: hidden;
}

.button_label {
  position: absolute;
  top: var(--vertical-padding);
  bottom: var(--vertical-padding);
  left: var(--horizontal-padding);
  right: var(--horizontal-padding);
}
/*Button variables copied from Miki Stanger on dev.to and from thiscodeworks.com*/

p {
  padding-top: 20px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.image {
  flex: 70%;
  position: relative;
}

.image-padding {
  padding: 20px;
  background-color: #990075;
}

.image-border {
  border: 10px solid rgb(0, 139, 132);
}

.image-margin {
  margin: 20px;
  margin-left: 350px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 40px;
}

.aside1 {
  flex: 30%;
  background-color: #b9c6ae;
  flex-wrap: wrap;
  padding-top: 10px;
}

.aboutme1,
.portfolio1 {
  margin-bottom: 500px;
  color: #ffffff;
  padding-bottom: 400px;
}

h2::before {
  font-family: Impact;
  content: '\2764';
  color: #772014;
  margin-right: 5px;
}

.image-padding1 {
  padding: 20px;
  background-color: lightyellow;
}

.image-border1 {
  border: 10px solid lightblue;
}

.image-margin1 {
  margin: 20px;
  width: 15%;
  height: 15%;
}

@media screen and (max-width: 992px) {
  header {
    background: #f82307;
  }
}

@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}
@media screen and (max-width: 768px) {

  main,
  nav {
    flex-direction: column;
  }
}

footer {
  height: 150px;
  width: 100%;
  border-top: 10px solid darkblue;
  background-color: #990059;
}

.footer1 {
  font-size: 25px;
  margin-left: 400px;
}